@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width:40%;
  
  border:none;
  padding:10px;
}
.search-button{
  background-color: coral;
  border:none;
  padding:10px 20px;
  color:white;
  margin:10px;
  border-radius: 5px;
  font-size:18px;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.headtitle{
  font-family: 'Josefin Sans', cursive;
  text-align: center;
  font-size: 50px;
  padding: 20px;
}